<!-- Llamamos a la plantilla base para cargar navar y footer -->
{% extends "ProyectoWebApp/base.html" %}
<!-- Cargamos la carpeta que contiene las imagenes -->
{% load static %}
<!-- Indicamos que este es el contenido de la pagina a la plantilla base -->
{% block content %}

<div class="contenedorformulario">

    <!-- Si recibimos el parametro valido o no, agregamos mensaje al formulario: -->
    {% if "novalido" in request.GET %}

    <p style="color: rgb(226, 128, 128); margin: 20px auto; text-align: center;">Verifica los datos!</p>

    {% endif %}

    {% if "valido" in request.GET %}

        <p style="color: white; margin: 20px auto; text-align: center;">La informacion se nevio correctamente.</p>

    {% endif %}
        
    <form action="" method="POST" style="text-align:center;">
        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">
            {{formulario_contacto}}
        </table>
    
        <input type="submit" value="Enviar" style="width: 150px;">

    </form>

</div>

{% endblock %}