<!-- Llamamos a la plantilla base para cargar navar y footer -->
{% extends "ProyectoWebApp/base.html" %}
<!-- Cargamos la carpeta que contiene las imagenes -->
{% load static %}
<!-- Indicamos que este es el contenido de la pagina a la plantilla base -->
{% block content %}

<div style="float:right; margin-right:2em; margin-top: 3em;">
   <!-- <p style="color:white;">Total:  $ {{importe_total_carro }}</p> -->
   {% include "carro/widget.html" %}
</div>

<div class="row" style="margin: 1rem;">

        {% for producto in productos %}
        <!-- <div class="col-md-2"> -->
            <div class="card" style="width: 10rem; margin: 1rem;">
                <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">${{producto.precio}}</p>
                </div>
                <div class="card-footer center">

                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>

                </div>

            </div>
        <!-- </div> -->
       {% endfor %}
       
</div>

{% endblock %}